.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px repeat(5, 100px);
    column-gap: 10px;
    row-gap: 10px;
}
.date, .day{
    background-color: lightslategrey;
    color: whitesmoke;
    font-size: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-months , .day{
    background-color: grey;
}
.day{
    font-size: 1.5em;
}